useDynLib(RSMLM, .registration=TRUE)
exportPattern("^[^\\.]")
importFrom(Rcpp, evalCpp)
importFrom(dbscan, frNN, dbscan, pointdensity, adjacencylist)
importFrom(igraph, graph_from_adj_list, make_empty_graph, add_edges, delete_vertices,as_adj_list, components, adjacent_vertices, graph.adjacency, clusters)
importFrom(deldir, deldir, duplicatedxy)
importFrom(geometry, convhulln)
importFrom(ggplot2, ggplot, geom_point, theme_bw, theme, scale_color_manual, aes, element_blank)
importFrom(randomcoloR, distinctColorPalette)
importFrom(splancs, areapl)
importFrom(spatstat, dilated.areas, as.ppp)
importFrom(TDA, ripsFiltration, ripsDiag)
importFrom(sf, st_multipolygon, st_union, st_area)
importFrom(plyr, ldply, count)
importFrom(pdfCluster, kepdf)
importFrom(imager, as.cimg, threshold, label, at)