useDynLib(SMLM, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
importFrom(dbscan, frNN, dbscan, pointdensity, adjacencylist)
importFrom(igraph, graph_from_adj_list, make_empty_graph, add_edges, delete_vertices,as_adj_list, components)
importFrom(deldir, deldir, duplicatedxy)
